*
!/.gitignore
!/LICENSE
!/README.md
!/requirements.txt
!/SECURITY.md
!/bcf.py
!/static
!/static/BCF.jpg
!/modules
!/modules/__init__.py
!/modules/SpecialCharacters.py
!/modules/Crypto
!/modules/Crypto/__init__.py
!/modules/Crypto/Symmetric
!/modules/Crypto/Symmetric/__init__.py
!/modules/Crypto/Symmetric/AESCipher.py
!/modules/Crypto/Symmetric/DESCipher.py
!/modules/Crypto/Asymmetric
!/modules/Crypto/Asymmetric/__init__.py
!/modules/Crypto/Asymmetric/RSACipher.py
!/modules/Crypto/Hash
!/modules/Crypto/Hash/__init__.py
!/modules/Crypto/Hash/CRC32.py
!/modules/Crypto/Hash/HMAC_MD5.py
!/modules/Crypto/Hash/HMAC_SHA1.py
!/modules/Crypto/Hash/HMAC_SHA224.py
!/modules/Crypto/Hash/HMAC_SHA256.py
!/modules/Crypto/Hash/HMAC_SHA384.py
!/modules/Crypto/Hash/HMAC_SHA512.py
!/modules/Crypto/Hash/MD2.py
!/modules/Crypto/Hash/MD5.py
!/modules/Crypto/Hash/SHA1.py
!/modules/Crypto/Hash/SHA256.py
!/modules/Crypto/Hash/SHA224.py
!/modules/Crypto/Hash/SHA384.py
!/modules/Crypto/Hash/SHA512.py
!/modules/Utils
!/modules/Utils/__init__.py
!/modules/Utils/Utils.py